.desktop {
    display: none;
}


body {
    background-color: #121212;
    font-family: DM Sans, Roboto, -apple-system, Segoe UI, sans-serif;;
    color: white;
}

.mobile ul {
    list-style: none;
}


@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}