.navbar {
    background-color: #282828;
}

#mobile-nav-list {
    display: none;
}

#mobile-nav-list li {
    border: solid black;
}

article {
    margin: 2% 10% 35%;
}

footer {
    justify-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #7f3bb3;
}

footer img {
    width: 1em;
    height: 1em;
}

footer svg {
    width: 1em;
    height: 1em;
}

@media screen and (min-width: 768px) {
    article {
        margin-bottom: 10%;
    }
}